@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Robot Crossing GA</h1>
    <p class="lead">
        Genetic algorithm that evolves a population of robots so that they learn to cross a predefined map with different types of obstacles and terrain.
    </p>
    <p>
        @Html.ActionLink(
            "Run Genetic Algorithm",
            "RunGA",
            "Home",
            null,
            new {@class = "btn btn-primary btn-lg"})
    </p>
</div>